@import-normalize; /* bring in normalize.css styles */

body {
  padding: 15px 35px;
  margin: 0;
  background-color: rgb(69, 97, 121);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background-color: silver;
}

button {
  background-color: rgb(40, 126, 255);
  color: #fff;
  padding: 10px 15px;
  /* border-radius: 4px; */
}

ul{
  /* height: 22px; */
  background-color: rgb(25, 134, 162);
  /* list-style: square; */
  padding-left: 18px;
  line-height: 12px;
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  /* padding: 0; */
}
